/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

/*  ==============================================================
    Variables LESS
    ============================================================== */
@color-negro: #010002;
@color-negro-transparente: rgba( 0, 0, 0, 0.6);
@color-fondo-sidebar: #d1d1d1;
@color-fondo-player-controls: #a3a3a3;
@color-nav-icon: #686868;
@color-btn-border: #e5e5e5;
@color-btn-hover-border: #686868;
@color-btn: #666666;
@color-fondo-btn-cart: #e6e6e6;
@color-search-border: #a8a8a8;
@font-family-main: 'Titillium Web', Arial, sans-serif;

@color-item-border: #c6c6c6;
@color-item-hover: #ebebeb;

@color-form-borders: #dfe0e6;
@color-form: #797979;
@color-azul-facebook: #3b5998;
@color-naranja: #ce5700;
@color-naranja-vivo: #EC5600;

@color-fondo-read-more: #6e6e6e;
@color-fondo-news-detail: #e9e9e9;
@color-fondo-product-images: #eeeeee;

@color-light-text: #BBBBBB;

// usuario
@color-text-lateral: #636363;
@color-text-lateral-2: #919191;
@color-borde-recomendados: #CDCDCD;

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px 'Titillium Web', Arial, sans-serif;
}

/*  ==============================================================
    Resets generales
    ============================================================== */
h1,h2,h3,h4,p,ul,li,blockquote{
    margin: 0; padding: 0;
}
h2{
    line-height: 120%;
}
h3{
    line-height: 120%;
}
h4{
    line-height: 120%;
}
p{
    line-height: 120%;
}
ul{
    list-style: none;
}
a:link, a:visited{
    text-decoration: none;
}
a:hover, a:active{
}

blockquote{
    font-style: italic;
}
.v-align-bottom{
    vertical-align: bottom !important;
}
.v-align-middle{
    vertical-align: middle !important;
}
.align-center{
    text-align: center;
}
.align-right{
    text-align: right;
}

/*  ==============================================================
    Sidebar
    ============================================================== */
.sidebar{
    background: @color-fondo-sidebar;
}
header{
    padding: 10px;
    position: relative;
}
#logo{
    float: left;
}
#logo img{
    height: 51px;
}
.no-svg #logo a{
    background-image: url(../img/logo-beathey.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.mobile-nav{
    float: right; 
    line-height: 51px;  
}
.mobile-nav a:link, .mobile-nav a:visited{
    color: @color-negro;
    font-size: 30px;
}
nav{
    display: none;
}
    nav .icon{
        width: 20px;
        display: inline-block;
    }
    nav a:link, nav a:visited{
        color: @color-negro;
        font-size: 15px;
    }
    nav a:hover .icon, nav a:active .icon, nav .active a:link .icon, nav .active a:visited .icon{
        color: @color-negro;

    }
    nav a:hover, nav a:active, nav .active a:link, nav .active a:visited {
        font-weight: 700;
    }    
    nav a .icon{
        color: #686868;
    }

.user-menu{
    display: none;
    border-top: 1px solid #f1f1f1;
}
.user-menu a:link, .user-menu a:visited{
    color: @color-negro;
    font-size: 12px;
}
    .user-menu ul{
        display: none;
    }


/*  ==============================================================
    Estilos relacionados a la grilla
    ============================================================== */
.grid{
    width: 100%;
    display: table;
    padding: 0; margin:0;
}

/*  ==============================================================
    Componente Player
    ============================================================== */
.Player{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	z-index: 500;
}
    .Player-header{
        border-top: 1px solid @color-fondo-sidebar;
        background: #fff;
    }
    .Player-Disc-image img{
        display: none;
    }
    .Player-Disc-text{        
        vertical-align: top;
    }
    .Player-Disc-text div{
        padding: 8px;
    }
    .Player-Disc-text h3{
        font-size: 14px;
        font-weight: 700;
    }
    .Player-Disc-text p{
        font-size: 12px;
        line-height: 110%;
    }
    .Player-controls{
        background: @color-fondo-player-controls;
    }
    .Player-controls ul{
        list-style: none;
        padding: 0 4px;
    }
    .Player-controls li{
        float: left;
    }

    .Player-controls a:link, .Player-controls a:visited{
        display: block;
        padding: 0px 4px;
        color: #fff;
    }
    .Player-controls a:hover, .Player-controls a:active{
        color: @color-negro;
    }

    .Player-controls .list{
        float: right;
    }

/* ==========================================================================
   Comunes a toda la web
   ========================================================================== */
.btn-action:link, .btn-action:visited{
    font-size: 20px;
    color: #fff;
    padding: 3px 16px 4px 16px;
    border: 1px solid rgba( 255, 255, 255, 0.3);
}

.btn-action:hover, .btn-action:active{
    border: 1px solid #fff;
}

.background-cover{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;    
}


/* ==========================================================================
   HOME
   ========================================================================== */
.slide-home{
    background-image: url(../img/banner-top.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}   
    .slide-content{
        padding: 60px 20px;
        text-align: center;
    }
    .slide-content h2{
        font-size: 24px;
        color: #fff;
    }
    .slide-content p{
        margin: 1em 0 0 0;
    }

.home-logo{
    padding: 20px 0;
    text-align: center;
}
    .home-logo img{
        width: 50%;
    } 

    .no-svg .home-logo img{ display: none;}
    .no-svg .home-logo{
        background: url(../img/logo-beathey-banner.png) no-repeat center center;
        width: 90%;
        height: 90%;
    }

.news-item{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.news-item .title{
    display: block;
    padding: 60px 30px;
    background: rgba( 0,0,0,0.6);
}

.news-item a:link, .news-item a:visited{
    color: #fff;
}
.news-item h2{
    font-size: 18px;
    line-height: 120%;
}
.news-item h3{
    font-size: 14px;
    line-height: 120%;
    font-weight: normal;
}
.news-item .text{
    display: block;
    padding: 0;
}
   .news-item a:hover .text, .news-item a:active .text{
        background: rgba( 0,0,0,0.6);
   } 



/* ==========================================================================
   MODULOS (comunes a todos los formatos)
   ========================================================================== */
.content-wrapper{
    padding-bottom: 100px;
}
.module-header{
    position: relative;
}
.module-header .close{
    position: absolute;
    top:0;
    right: 0;
    background: rgba( 0, 0, 0, 0.3);
    font-size: 20px;
    padding: 10px 12px;
    line-height: 100%;
}
.module-header .share{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    padding: 10px 0 10px 30px;
    line-height: 20px;
}
.module-header .close a:link, .module-header .close a:visited{
    color: #fff;
}
.module-header .close a:hover, .module-header .close a:active{
    color: #000;
}

.module-header .share a:link, .module-header .share a:visited{
    color: #000;
}

.module-body{
    padding: 0 0 120px 0;
}

.module-content{
    padding: 0 30px 0 30px;
}

.module-content-full{
    
}

.module-footer{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    img{
        width: 100%;
    }
}


/* ==========================================================================
   ARTISTA
   ========================================================================== */
.artist-left{
}


    .tracklist-item{
        font-size: 14px;
        border-bottom: 1px solid #c6c6c6;
        padding: 8px 0 0 0;
        a:link, a:visited{
            color: #000;
        }
        i.fa-play-circle{
            font-size: 12px;
            color: @color-fondo-player-controls;
        }
    }
    .tracklist-item-hover{   
        background: #e5e5e5
    }

    .tracklist-set-detail{
        display: none;
        .tracklist-item{
            padding: 0 0 0 20px;
        }
    }
    .tracklist-set-detail.active{
        display: block;
    }

    .tracklist-set{
        padding: 8px 0 0 10px;
        background-color: @color-fondo-btn-cart;
        border-bottom: 1px solid #c6c6c6;
        font-weight: 700;
        a:link, a:visited{
            color: #000;
        }
    }

.artist-events{
    .item{
        padding: 10px 0;
        border-bottom: 1px solid @color-btn-border;
    }
    img{
        display: block;
        width: 100%;
        margin: 0 0 10px 0;
    }
    h2{
        font-size: 16px;
        line-height: 120%;
    }
    p{
        font-size: 14px;
        line-height: 120%;
    }
    p.date{
        font-size: 11px;
        line-height: 100%;
    }
    a:link, a:visited{
        color: @color-negro;
    }
    .share a{
        font-size: 12px;
    }
}

.artist-info{
    .info{
        padding-bottom: 60px;
        padding-right: 40px;
    }
    h1{
        padding-top: 30px;
        font-size: 38px;
        font-weight: 700;
    }
    h2 {
        padding-bottom: 30px;
        font-size: 20px;
        font-weight: normal;
        font-style: italic;
    }
    .module-content-fluid{
        img{
            width: 100%;
        }
    }
    p{
        line-height: 120%;
        font-size: 14px;
        margin: 0 0 1em 0;
    }
    blockquote{
        line-height: 130%;
        font-size: 14px;
    }
}

/* ==========================================================================
   LAYOUT Y GRILLA
   ========================================================================== */
.min-viewport-h{
    position: relative;
}
.module-columns, .content{
    .module-header{
        padding: 80px 30px 10px 30px;
    }  
    .module-menu{
        border-bottom: 1px solid #c6c6c6;
        padding:  0 0 8px 0;
    }
    .module-menu li{
        display: inline;
        font-size: 14px;
        padding: 0 8px 0 0;
    }
    .module-menu a:link,  .module-menu a:visited{
        color: #ababab;
    }
    .module-menu a:hover,  .module-menu a:active, .module-menu .active a:link, .module-menu .active a:visited{
        color: @color-negro;
    }    
}


.module-full  {
    .module-header{
        padding: 30px;        
    }
    .module-title{
    }
    .module-header h1{
        font-size: 50px;
        font-weight: normal;
        line-height: 50px;
    }
    .module-header h1 span{
        color: #585858;
        font-weight: 700;
    }

    .module-menu{
        padding: 20px 0;
        li{
            display: inline;
        }
    }
    .module-search{
        padding: 0 0 2px 0;
    }
    .comment{
        padding: 20px 0;
        .btn{
            padding: 6px 10px 7px 10px;
            font-weight: 700;
        }
        i{
            color: @color-fondo-player-controls;
            font-size: 18px; 
            margin-right: 5px;
        }
    }
}

/* ==========================================================================
   ELEMENTOS FORMULARIO
   ========================================================================== */
.form-control {
    font-family: @font-family-main;
    outline: none;    
}
button.btn{
    color: @color-btn;
}

a.btn:link, a.btn:visited, a.btn-link:link, a.btn-link:visited{
    display: inline-block;
    color: @color-negro;
    line-height: 16px;
    font-size: 14px;
    border: 1px solid @color-btn-border;
    padding: 4px 10px 5px 10px;
    border-radius: 2px;
}

a.btn:hover, a.btn:active, a.btn-link:hover, a.btn-link:active{
    border-color: @color-btn-hover-border;
}

.form{
    legend{
        line-height: 120%;
        font-size: 17px;
        text-align: center;
        margin: 0 0 20px 0;
        padding: 0;        
    }
    .form-row{
        padding: 5px 0;
    }
    a:link, a:visited{
        color: @color-naranja;
    }
    button.btn, a.btn:link, a.btn:visited{
        padding: 6px 10px;
        border: none;
        border-radius: 0;
        background: @color-fondo-sidebar;
    }
    a.btn:hover, a.btn:active{
        color: #ccc;
    }
    a.btn-blue:link, a.btn-blue:visited{
        background: @color-azul-facebook;
        color: #fff;
    }
    button.btn-orange, a.btn-orange:link, a.btn-orange:visited{
        background: @color-naranja;
        color: #fff;
    }
    label{
        color: @color-form;
        line-height: 120%;
        font-size: 14px;
        em{
            color: #FF0109;
            font-style: normal;
        }
    }
    .check-label{
        .checkbox{
            width: 5%;
            float: left;
        }
        label{
            display: block;
            float: right;
            width: 95%;
        }
    }
}

.form-signup{
    padding: 0;
    a.btn-blue:link, a.btn-blue:visited{
        padding: 6px 40px;
        font-size: 16px;
        line-height: 140%;
        font-weight: 700;
    }
    button.btn-orange, a.btn-oreange:link, a.btn-oreange:visited{
        padding: 10px 40px;
        font-size: 16px;
        line-height: 140%;
        font-weight: 700;
        text-transform: uppercase;
        width: 100%;
        box-sizing: border-box;
    }
    p{
        color: @color-form;
        font-size: 14px;
        line-height: 120%;
    }
    .as-label{
        line-height: 120%;
        font-size: 14px;
        margin: 0;  
        padding: 10px 0 0 10px;      
    }
    .form-group{
        padding-right: 10px;
    }
    .form-control{
        border: 1px solid @color-form-borders;
        font-size: 14px;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
    .disclaimer{
        padding: 10px 0;
    }
}

.module-search{
    .form-group{
        padding-left: 4px;
        border: 1px solid @color-search-border;
    }
    .form-control {
        border:none;
        font-size: 14px;
        line-height: 28px;
        padding: 2px;
        margin: 0;
        float: left;
    }
    .btn{
        float: right;
        border: none;
        line-height: 28px;
        font-size: 12px;
        padding: 2px 10px;
        border-left: 1px solid @color-search-border;
        background-color: @color-btn-border;
    }
}

form.calendar{
    padding: 20px 0;
    .calendar-icon{
        float: left;
    } 
    .input{
        display: inline-block;  
        padding: 0 0 0 10px;
        .form-control{
            border: none;
            font-weight: 700;
            font-size: 16px;
            line-height:  24px;
            padding: 5px 2px 6px 2px;
        }
    }
    .btn{
        border: none;
        line-height: 100%;
        font-size: 24px;
        padding: 4px 6px;
        background-color: @color-btn-border;
    }
}

form.popup-form{

    a:link, a:visited{
        color: @color-btn;
    }
    .form-control{
        border: 1px solid @color-btn-border;
        border-radius: 5px;
        font-weight: normal;
        font-size: 14px;
        line-height:  16px;
        padding: 5px 4px 6px 4px;
        width: 100%;
        box-sizing: border-box;
    }    
    .form-control-wrapper{
        border: 1px solid @color-btn-border;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        .form-control{
            border: none;
            font-weight: normal;
            font-size: 14px;
            line-height:  16px;
            padding: 5px 4px 6px 4px;
            width: 100%;
            box-sizing: border-box;
        }
        .form-icon{
            position: absolute;
            top: 0;
            right: 4px;
        }
    }
}


/* ==========================================================================
   AGENDA / WALL / CONTEST
   ========================================================================== */
    .events, .wall{
        .item{ 
            margin: 0 0 10px 0;
        }
        .item-center{ 
            h2{ text-align: center;}
            p{ text-align: center;}
        }        
        .item-alt{
            background: #eeeeee;
        }
        .item .item-text{
            padding: 0 30px;
        }
        .item-image img{
            width: 100%;
        }
        .item-image{
            padding: 0 0 20px 0;
        }
        .item-text h2{
            font-size: 20px;
            line-height: 120%;
            padding: 0 0 5px 0;
        }
        .item-text p{
            line-height: 120%;
            font-size: 13px;
        }
        .item-text .share{
            padding: 16px 0 8px 0;
            border-bottom: 1px solid @color-fondo-sidebar;
        }
        .item a:link, .item a:visited{
            color: @color-negro;
        }
            .item-alt .item-text .share{
                border-bottom: none;
            }
        .chart{
            margin: 0 auto;
            width: 80px;
            height: 80px;
            position: relative;
        }
        .circle-info{
            position: absolute;
            left: 50%;
            top: 50%;
            width: 60px;
            height: 40px;
            margin: -18px 0 0 -30px;
            span{
                display: block;
                color: #7F7E83;
                text-align: center;
            }
            .percent{
                line-height: 24px;
                font-size: 20px;
            }
            .icon{
                line-height: 16px;
                font-size: 16px;
            }
        }
    }

    .wall-comments{
        .item-header{
            padding: 10px 0;
        }
        .item-image{
            width: 80px;
            border-radius: 50%;
            overflow: hidden;
            padding: 0;
            margin: 0 auto;
            border: 4px solid @color-fondo-sidebar;
        }        
    }

    .contest{
        .item-header{
            padding-top: 10px;
        }
        .item-image{
            margin: 0 auto;
            width: 80px;
        }
    }

/* ==========================================================================
   TRACKLIST
   ========================================================================== */

.tracklist{
    .item{
        position: relative;
        width: 50%;
        float: left;
        img{
            display: block;
            width: 100%;
        }
        .icon{
            display: block;
            text-align: center;
            position: absolute;
            left: 0;
            width: 100%;

            font-size: 50px;
            line-height: 50px;
            margin-top: -25px;
            top: 50%;            
        }                        
        a:link, a:visited{
            color: #fff;
            .item-text{
                display: none;
            }
        }
        a:hover, a:active{
            .item-text{
                display: block;
            }
        }   
        .item-text{
            position: absolute;
            top: 0;
            left: 0;
            background-color: @color-negro-transparente;
            width: 100%;
            height: 100%;
        }
        h2{
            font-size: 14px;
        }
        h3{
            font-size: 13px;
            font-weight: normal;
        }
        p{
            font-size: 12px;
            line-height: 120%;
        }
        .item-text-content{
            position: relative;
            width: 100%;
            height: 100%;
        }
        .item-text-detail{
            position: absolute;
            left: 12px;
            bottom: 12px;
        }
    }
}


/* ==========================================================================
   MODAL
   ========================================================================== */
.blocker{
    z-index: 1000;
}
.modal{
    width: 80%;
    padding: 30px;
    z-index: 1002;
    border-radius: 20px;
}
.modal-header{
    padding: 0 0 16px 0;
    text-align: center;
}
.separator{
    position: relative;
    hr{
        padding: 5px 0 0 0;
        border: none;
        border-top: 1px solid @color-form-borders;
        margin: 16px 0;
    }
    span {
        display: block;
        position: absolute;
        width: 30px;
        top: 0;
        left: 50%;
        margin-left: -17px;
        margin-top: -7px;
        font-size: 14px;
        line-height: 14px;
        font-weight: 700;
        padding: 0 4px;
        background: #fff;
        text-align: center;
    }
}

.modal-comments{
    h1{
        font-size: 18px;
        color: @color-fondo-player-controls;
        i{
            maring-right: 5px;
        }
    }
    .logo{
        text-align: right;
        img{
            width: 100px;
        }
    }
    .form-control{
        box-sizing: border-box;
        width: 100%;
        padding: 8px;
        font-size: 12px;
    }
    .form-row{
        padding: 20px 0 0 0;
    }
    .form-footer{
        .disclaimer{
            font-size: 12px;
            color: @color-fondo-player-controls;
            float: left;
            line-height: 100%;
        }
        button{
            float: right;
        }
    }
    .btn{
        font-size: 14px;
        line-height: 16px;
        padding: 0 8px;
    }
}

.modal-share{
    h1{
        font-size: 18px;
        color: @color-fondo-player-controls;
        font-weight: normal;
        padding: 0 0 10px 0;
        border-bottom: 1px solid  @color-form-borders;
        margin: 0 0 20px 0;
    }
    h2{
        font-size: 18px;
        font-weight: normal;
    }
    p{
        font-size: 16px;
        margin: 0 0 10px 0;     
        color: @color-light-text;
    }
    .form-control{
        box-sizing: border-box;
        width: 100%;
        padding: 8px;
        font-size: 12px;
    }
    .form-row{
        padding: 20px 0 0 0;
    }
    .form-footer{
        padding: 20px 0 0 0;
        .social{
            float: left;
            h3{
                font-size: 12px;
                color: @color-fondo-player-controls;
                line-height: 100%;
                font-weight: normal;
            }
            ul{}
            li{display: inline;}
            .fb a{
                font-size: 24px;
                color: #23589A;
            }
            .tw a{
                font-size: 24px;
                color: #01ACE6;
            }
        }
        button{
            float: right;
        }
    }
    .share-content{
        .col-sm-30{
            img{
                width: 90%;
            }
        }
        a.btn:link, a.btn:visited{
            color: #333;
            border: 1px solid @color-fondo-player-controls;
            font-size: 13px;
            font-weight: 700;
            padding: 4px 10px;
            background: @color-form-borders;
            border-radius: 5px;
        }
    }
}


/* ==========================================================================
   New Release
   ========================================================================== */
.item-list{
    a:link, a:visited{
        color: @color-negro;
    }
    .item{
        border-bottom: 1px solid @color-item-border;
    }
    .item-hover{
        background: @color-item-hover;
    }
    .item-image{
        padding: 0 10px 0 0;
    }
    .item-text{
        padding-bottom: 8px;
    }
    h2 {
        font-size: 18px;
    }
    h3{
        font-size: 16px;
        font-weight: normal;
    }
    p{
        font-size: 14px;
    }
    .item-actions{
        font-size: 14px;
        padding: 0 10px 8px 0;
    }
}
/*  ==============================================================
    NOTICIAS
    ============================================================== */
.news{
    a:link, a:visited{
        color: @color-negro;
    }
    .item{
    }
    .item-alt, .item-hover{
        background: @color-item-hover;
    }
    .item-image{
        img{
            width: 100%;
        }
    }
    .item-header{
        padding: 0 0 20px 0;
    }
    .item-text{
        padding: 20px 30px 30px 30px;
    }
    h2 {
        font-size: 18px;
    }
    h3{
        font-size: 16px;
        font-weight: normal;
        font-style: italic;
    }
    p{
        font-size: 14px;
        margin: 0 0 10px 0;
    }
    p.read-more{
        a:link, a:visited{
            display: block;
            float: left;
            padding: 4px 8px;
            background: @color-fondo-read-more;
            color: #fff;
        }
    }
}

.news-detail{
    background-color: @color-fondo-news-detail;
    h1{
        font-size: 34px;
        font-weight: normal;
    }
    h2 {
        font-size: 20px;
        font-weight: normal;
        font-style: italic;
    }
    p{
        font-size: 14px;
        margin: 0 0 10px 0;
    }
    blockquote{
        font-size: 14px;
        font-style: italic;
        margin: 0 0 10px 0;
        line-height: 120%;
    }
    .news-header{
        padding: 0 0 30px 0;
    }
}

/* ==========================================================================
   Shop Detail
   ========================================================================== */

.product-images{
    background: @color-fondo-product-images;
    padding: 10px 30px;
    .image-main{
        padding: 30px 0;
        text-align: center;
        img{
            max-width: 100%;
        }        
    }
    .image-row{
        padding: 0 0 10px 0;
        img{
            max-width: 100%;
        }
        a:link,a:visited{
            padding: 10px;
            display: block;
        }
    }

}
.product{
    .module-content{
        h1{
            font-weight: normal;
        }
        h2{
            font-style: italic;
            padding: 0 0 20px 0;
            font-weight: normal;
        }
        p.price{
            font-size: 26px;
            padding: 0 0 10px 0;
        }
        a.btn:link, a.btn:visited{
            border: none;
            font-weight: 700;
            background: @color-fondo-btn-cart;
        }
        a.btn:hover, a.btn:active{
            border: none;
            background: @color-fondo-btn-cart;
        }
    }
    .tabs{
        padding: 20px 0 10px 0;
    }
}

/* ==========================================================================
   Navegación por TABs
   ========================================================================== */
.tabs{
    .tabs-menu{    
        padding: 0  0 10px 0;
        ul{
            padding: 0  0 10px 0;
            border-bottom: 1px solid @color-form-borders;
        }
        li{
            display: inline;
            padding:  0 16px 0 0;
            font-size: 14px;
        }
        a:link, a:visited{
            color: @color-form;
        }
        a.active:link, a.active:visited{
            color: @color-negro;
        }
    }
    .tab.active{
        display: block;
    }
}
.tab{
    display: none;
    h3{
        font-size: 16px;
        font-weight: 700;
    }
    p{
        font-size: 14px;
        margin: 0 0 16px 0;
    }
}

/* ==========================================================================
   Shop
   ========================================================================== */
.shop{
    .item{
        float: left;
        img{
            width: 100%;
            display: block;
        }
    }
    .item-40{
        width: 50%;
        overflow: hidden;
    }
    .item-20{
        width: 50%;
        overflow: hidden;
    }
}

/* ==========================================================================
   Resultados playlist
   ========================================================================== */
.popup-search-form{
    margin: 20px 0 10px 0;
}
.popup-add-form{
    margin: 20px 0 10px 0;
    label{
        font-size: 12px;
    }
    button.btn-orange{
        padding: 0 6px;
        font-size: 14px;
        font-weight: 700;
    }
}
.playlist-results{
    h2 {
        color: @color-negro;
        font-size: 14px;
        font-weight: 700;
        padding: 6px 0;
        border-bottom: 1px solid @color-borde-recomendados;
        margin-bottom: 6px;
    }
    a:link, a:visited{
        color: @color-btn;
    }
    .playlist-results-icon{
        padding: 0 4px 0 0;
        img{
            width: 100%
        }
    }
    .playlist-results-content{
        padding: 0 0 0 4px;
    }
    .grid{
        margin: 0 0 5px 0;
    }
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {


    /*  ==============================================================
        Componente Player
        ============================================================== */
  

    /* ==========================================================================
       LAYOUT Y GRILLA
       ========================================================================== */
    .grid{
        .col-sm-10{
            display: table-cell;
            width: 10%;
            vertical-align: top;        
        }
        .col-sm-20{
            display: table-cell;
            width: 20%;
            vertical-align: top;        
        }
        .col-sm-30{
            display: table-cell;
            width: 33%;
            vertical-align: top;        
        }
        .col-sm-33{
            display: table-cell;
            width: 33.33%;
            vertical-align: top;
        }
        .col-sm-50{
            display: table-cell;
            width: 50%;
            vertical-align: top;
        }
        .col-sm-60{
            display: table-cell;
            width: 60%;
            vertical-align: top;        
        }
        .col-sm-70{
            display: table-cell;
            width: 70%;
            vertical-align: top;        
        }
        .col-sm-80{
            display: table-cell;
            width: 80%;
            vertical-align: top;
        }  
        .col-sm-90{
            display: table-cell;
            width: 90%;
            vertical-align: top;
        }    
    }


    /*  ==============================================================
        AGENDA
        ============================================================== */
    .events,.wall{
        .item{
            width: 50%;
            float: left;
        }
    }


}


/*  ==============================================================
    USUARIO LOGUEADO
    ============================================================== */

.simple-tab-menu{
    border-bottom: 1px solid @color-borde-recomendados;
    li{
        display: inline;
        padding: 0 8px 0 0;
        line-height: 40px;
        font-size: 18px;
    }
    a:link, a:visited{
        color: @color-text-lateral-2;
    }
    a:active, a:hover{
        color: @color-negro;
    }
    li.active a:link, li.active a:hover{
        color: @color-negro;
        font-weight: 700;
    }
}

.user-full{

    .user-content{
        padding: 20px;
    }
    .user-sidebar{
        h2{
            font-size: 12px;
            font-weight: normal;
            color: @color-text-lateral-2;        
            border-bottom: 1px solid @color-borde-recomendados;
            padding: 0 0 8px 0;
        }
    }
    .user-header{
        display: block;
        position: relative;
        height: 100px;
        .btn:link, .btn:visited{
            background-color: rgba( 255, 255, 255, 0.6);
            box-sizing: border-box;
            width: 128px;
            border-radius: 0;
            border: none;
            font-size: 12px;
            text-align: center;
        }
        .btn-header:link, .btn-header:visited{
            position: absolute;
            bottom: 20px;
            right: 20px;        
        }
    }

    .user-info{
        position: absolute;
        left: 20px;
        bottom: -30px;
    }

    .user-info-content{
        position: relative;
        .btn:link, .btn:visited{
            position: absolute;
            top: -8px;
            left: 16px;
        }
        h1 {
            position: absolute;
            left: 176px;
            top: 70px;
            color: #fff;
            font-size: 28px;
            line-height: 30px;
            padding: 0 4px;
            background: rgba( 0, 0, 0, 0.3);
        }
    }

    .profile-image{
        width: 160px;
        height: 160px;
        overflow: hidden;
        border-radius: 50%;
        img{
            width: 100%;
        }

    }

    .user-stats{
        margin-bottom: 30px;
        .stats-titles{
            line-height: 40px;
            font-size: 14px;
            color: @color-text-lateral-2;
            border-bottom: 1px solid @color-borde-recomendados;
        }
        .stats-values{
            font-size: 20px;
            color: @color-text-lateral-2;
            line-height: 30px;
        }
    }

    .highlighted{
        .highlighted-item{
            padding: 12px 0 0 0;
            border-bottom: 1px solid @color-borde-recomendados;
        }
        img{
            width: 90%;
        }
    }

    .highlighted-text{
        h4{
            font-size: 14px;
            color: @color-text-lateral;
            font-weight: normal;
        }
        h3{
            font-size: 15px;
            font-weight: 700;
            color: @color-text-lateral;
        }
        .tags{
            font-size: 14px;
            font-weight: normal;
            color: @color-text-lateral;            
        }
    }

    .user-album{
        padding: 20px 0 10px 0;
    }
    .user-album-image{
        img{
            width: 90%;
        }
    }
    .user-album-content{
        .play{
            font-size: 36px;
            color: @color-text-lateral-2;
        }
        .album-actions{
            padding: 28px 0 0 0;
            li{
                display: inline-block;
                padding-right: 2px;
            }
        }
        .btn:link, .btn:visited{
            font-size: 12px;
            padding: 1px 4px;
        }
        .album-time{
            font-size: 14px;
        }
    }
    .album-info{
        padding: 40px 0 10px 0;
        h3{
            font-size: 14px;
            color: @color-text-lateral-2;
            font-weight: normal;
        }
        h2{
            font-size: 16px;
            font-weight: 700;
            color: @color-text-lateral;
        }
    }
    .progress-bar{
        background: #B7B7B7;
        .progress{
            height: 16px;
            background: #969696;
        }
    }  

    .user-tracklist{
        margin-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid @color-borde-recomendados;
    }
    .user-tracklist-item{
        border-bottom: 1px solid @color-borde-recomendados;
    }
    .tracklist-icon{
        float: left;
        width: 22px;
        padding: 2px 4px;
        background: #B3B3B3;
        text-align: center;
    }
    .tracklist-icon i{        
        font-size: 24px;
        line-height: 26px;
        color: #C5C5C5;
    }
    .tracklist-content{
        float: left;
        padding: 0 0 0 8px;
        line-height: 28px;
        a:link, a:visited{
            font-size: 14px;
            color: #010101;
            font-weight: 700;
        }
    }

    .user-all-stats{
        padding: 18px 0;
        border-bottom: 1px solid @color-borde-recomendados;
        h3,p{
            a:link, a:visited{
                color: @color-text-lateral-2;
                font-size: 18px;
                font-weight: normal;
                line-height: 130%;
            }

        }
        .active{
            h3,p{
                a:link, a:visited{
                    color: @color-negro;
                }
            }
        }        

    }

    .profile-comments-item{
        padding: 18px 0 10px 0;
        border-bottom: 1px solid @color-borde-recomendados;
        p{ 
            font-size: 14px;
            font-style: italic;
            margin-bottom: 4px;
        }
        p.author{            
            font-style: normal;
            margin-bottom: 0px;
            font-weight: 700;
        }
        p.date{            
            font-style: normal;
            margin-bottom: 0px;
        }
    }
}

.modal-upload{
    .modal-header{
        text-align: left;
        h2{
            font-size: 20px;
            text-align: right;
            padding-right: 20px;
            line-height: 50px;
            text-transform: uppercase;
        }
    }
    .form-upload-step1{
        text-align: center;
        padding: 0 0 20px 0;
        .btn-orange{
            background: @color-naranja-vivo;
            font-weight: 700;
            padding-left: 20px;
            padding-right: 20px;
        }
        .form-row{
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
    .form-upload-step2{
        .form-row{
            padding: 0;
        }
        label{
            font-size: 12px;
            line-height: 110%;
        }
        .btn-orange{
            background: @color-naranja-vivo;
            font-weight: 700;
        }
        .form-row-comments{
            padding-top: 18px;
        }
        .form-control::placeholder{
            font-size: 12px;
            font-style: italic;
        }
    }
    .upload-disclaimer{
        p{
            color: @color-negro;
            font-size: 12px;
            text-align: center;
            line-height: 110%;
            margin: 0 0 10px 0;
        }
    }
    .chart{
        margin: 0 auto;
        width: 80px;
        height: 80px;
        position: relative;
    }
    .circle-info{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 60px;
        height: 40px;
        margin: -18px 0 0 -30px;
        span{
            display: block;
            color: #7F7E83;
            text-align: center;
        }
        .percent{
            line-height: 36px;
            font-size: 22px;
        }
        .icon{
            line-height: 16px;
            font-size: 16px;
        }
    }
    .upload-form-footer{
        padding: 0 0 20px 0;
        p{   
            font-size: 14px;
            line-height:  24px;
        }
        .fa-facebook-square, .fa-twitter-square, .fa-tumblr-square{
            font-size: 22px;
            line-height:  24px;
        }    
    }
    .upload-image{
        width: 180px;
        height: 180px;
        overflow: hidden;
        position: relative;
        a:link, a:visited{
            background: #fff;
            font-size: 12px;
            position: absolute;
            bottom: 10px;
            left: 20px;
            width: 140px;
            box-sizing: border-box;
        }
    }
}

.fa-facebook-square{
    color: #445E99;
}
.fa-twitter-square{
    color: #23C1FF;
}
.fa-tumblr-square{
    color: #1D3E5F;
}

.modal-profile{
    .modal-header{
        h2{
            text-align: left;
            line-height: 30px;
        }
        img{
            width: 80%;
        }
    }
    .profile-image{
        width: 220px;
        height: 220px;
        overflow: hidden;
        border-radius: 50%;
        position: relative;
        img{
            width: 100%;
        }
        a:link, a:visited{
            background: #fff;
            font-size: 12px;
            position: absolute;
            bottom: 30px;
            left: 40px;
            width: 140px;
            box-sizing: border-box;
        }
    }
    .description{
        padding: 10px 0;        
        p{
            font-size: 14px;
            font-style: italic;
            color: @color-text-lateral;
        }
    }
    .profile-link-item{
        border-top: 1px solid @color-borde-recomendados;
        padding: 10px 0 5px 0;
    }
    label{
        font-size: 12px;
    }
    .form-row{
        padding: 0;
    }
}

.profile-form-footer{
    border-top: 1px solid @color-borde-recomendados;
    margin: 10px 0 0 0;
    padding: 10px 0;
    text-align: right;
    button.btn{
        padding: 2px 8px;
        background-color: #fff;
        color: @color-text-lateral-2;
        font-size: 14px;
    }
    button.btn-orange{
        margin-left: 4px;
        background-color: @color-naranja-vivo;
        font-weight: 700;
        color: #fff;
    }
}

@media only screen and (min-width: 768px) {
    /*  ==============================================================
        Sidebar
        ============================================================== */
    header{
        padding: 60px 25px 0 25px;
    }
    #logo{
        float: none;
    }
    #logo img{
        width: 100%;
        height: auto;
    }
    .user-menu{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        border-top: none;
    }
    .user-menu div{
        padding: 20px 25px 0 25px;
    }
    .user-menu ul{
        padding: 0 25px 0 25px;
        background: rgba( 255, 255, 255, 0.9);
    }
    .mobile-nav{
        display: none;
    }
    nav{
        display: block;
        padding-top: 26px;
    }
    .user-menu{
        display: block;
    }  


    /*  ==============================================================
        Componente Player
        ============================================================== */
    .Player{
        width: 26%;
    }
    .Player-Disc-image img{
        display: block;
        width: 100%;
    }  

    /*  ==============================================================
        LAYOUT Y GRILLA
        ============================================================== */
    .sidebar{
        position: fixed;
        width: 26%;
        height: 100%;        
    }
    .content-wrapper{
        padding-left: 26%;
        padding-bottom: 0;
    }
    .content-sidebar{
        position: fixed;
        top: 0;
        left: 0;
        margin-left: 26%;
        width: 37%;
        height: 100%;        
    }    
    .content{
        padding-left: 63%;
    }

    .module-full  {
        .module-header{
            display: table;
            min-height: 84px;
        }
        .module-title{
            display: table-cell;
            vertical-align: bottom;
        }
        .module-menu{
            display: table-cell;
            vertical-align: bottom;
            padding: 0 20px 2px 20px;
        }
        .module-search{
            display: table-cell;
            vertical-align: bottom;
            padding: 0 0 2px 0;
        }
        .module-form{
            display: table-cell;
            vertical-align: bottom;
            padding: 0 0 2px 0;
        }
        .comment{
           padding: 0 0 2px 20px;
        }
    }
    .module-search{
        width: 150px;
        .form-control {
            width: 100px;
        }
    }
    .module-content{
        padding: 0 30px 0 30px;
    }
    .module-content-full{
    }    

    form.calendar{
        padding: 0 0 0 20px;
    }
    .grid{
        .col-md-10{
            display: table-cell;
            width: 10%;
            vertical-align: top;
        }
        .col-md-20{
            display: table-cell;
            width: 20%;
            vertical-align: top;
        }
        .col-md-30{
            display: table-cell;
            width: 30%;
            vertical-align: top;
        }
        .col-md-33{
            display: table-cell;
            width: 33.33%;
            vertical-align: top;
        }
        .col-md-40{
            display: table-cell;
            width: 40%;
            vertical-align: top;
        }
        .col-md-50{
            display: table-cell;
            width: 50%;
            vertical-align: top;
        }
        .col-md-60{
            display: table-cell;
            width: 60%;
            vertical-align: top;
        }
        .col-md-66{
            display: table-cell;
            width: 66.66%;
            vertical-align: top;
        }   
        .col-md-70{
            display: table-cell;
            width: 70%;
            vertical-align: top;        
        }         
        .col-md-80{
            display: table-cell;
            width: 80%;
            vertical-align: top;        
        }
        .col-md-90{
            display: table-cell;
            width: 90%;
            vertical-align: top;        
        }
    }


    /*  ==============================================================
        HOME
        ============================================================== */
    .slide-content{
        padding: 120px 20px 100px 20px;
    }
    .slide-content h2{
        font-size: 32px;
    }

    .news-item .title{
        padding: 20px 30px;
    }
    .news-item .text{
        padding: 180px 0 60px 0;
    }

    .home-logo{
        padding: 140px 0 0 0;
        text-align: center;
    }
        .home-logo img{
            width: 80%;
        }     

    /* ==========================================================================
       MODAL
       ========================================================================== */
    .blocker{
        z-index: 1000;
    }
    .modal{
        width: 550px;
    }

    .modal-comments{
        width: 400px !important;
    }
    .modal-profile{
        width: 800px;
    }
    .share-content{
        .col-sm-80{
            position: relative;
        }
        a.btn:link, a.btn:visited{
            position: absolute;
            left:0;
            bottom: 0;
        }
    }
    /* ==========================================================================
       ELEMENTOS FORMULARIO
       ========================================================================== */

    .form{
    }
    .form-signup{
        padding: 0 30px;
    }  

    /*  ==============================================================
        AGENDA
        ============================================================== */


    .events,.wall{    
        .item{
            width: 25%;
        }
    }

    /*  ==============================================================
        TRACKLIST
        ============================================================== */
    .tracklist{
        .item{
            width: 25%;
            .icon{
                font-size: 60px;
                line-height: 60px;
                margin-top: -30px;
                top: 50%;
            }          
        }
    } 
    /* ==========================================================================
       Shop
       ========================================================================== */
    .shop{
        .item-40{
            width: 40%;
        }
        .item-20{
            width: 20%;
        }
    }

    /*  ==============================================================
        USUARIO LOGUEADO
        ============================================================== */
    .user-full{
        .user-content{
            padding-top: 40px;
        }
        .user-header{
            display: block;
            .btn:link, .btn:visited{
                background: #fff;
            }
        }
    }    

}

@media only screen and (min-width: 960px) {

    /*  ==============================================================
        Componente Player
        ============================================================== */
    .Player{
        width: 20%;
    }

    /*  ==============================================================
        LAYOUT Y GRILLA
        ============================================================== */
    .sidebar{
        width: 20%;
    }
    .content-wrapper{
        padding-left: 20%;
        padding-bottom: 0;
    }
    .content-sidebar{
        margin-left: 20%;
        width: 40%;       
    }    
    .content{
        padding-left: 60%;
    }    

    .module-search{
        width: 320px;
        .form-control {
            width: 270px;
        }
    }  

    .grid{    
        .col-lg-10{
            display: table-cell;
            width: 10%;
            vertical-align: top;
        }
        .col-lg-20{
            display: table-cell;
            width: 20%;
            vertical-align: top;
        }
        .col-lg-80{
            display: table-cell;
            width: 80%;
            vertical-align: top;        
        }
        .col-lg-90{
            display: table-cell;
            width: 90%;
            vertical-align: top;        
        }
    }

    /*  ==============================================================
        HOME
        ============================================================== */
    .home-logo{
        padding: 120px 0 0 0;
    }
        .home-logo img{
            width: 70%;
        }      

    /*  ==============================================================
        AGENDA
        ============================================================== */
        
    .events, .wall{
        .item{
            width: 20%;
        }
    }
    /*  ==============================================================
        TRACKLIST
        ============================================================== */
    .tracklist{
        .item{
            width: 16.66666667%;
        }
    }  
    /*  ==============================================================
        NOTICIAS
        ============================================================== */
    .news{
        .item{
            float: left;
            width: 33.333333%;
        }
    }

    /*  ==============================================================
        USUARIO LOGUEADO
        ============================================================== */
    .user-full{
        .user-header{
            height: auto;
        }
        .user-info{
            left: 60px;
        }        
        .user-content{
            padding: 20px 0 0 0;
        }
        .user-main-content{
            padding: 0 0 0 100px;
        }        
        .user-main{
            width: 60%;
            float: left;
        }
        .user-sidebar{
            width: 36%;
            float: right;
        }
        .user-sidebar-content{
            padding-right: 20%;
        } 
    } 
}

@media only screen and (min-width: 1140px) {
    /*  ==============================================================
        LAYOUT Y GRILLA
        ============================================================== */
    .sidebar{
        width: 16%;
    }

    .content-wrapper{
        padding-left: 16%;
        padding-bottom: 0;
    }
    .content-sidebar{
        margin-left: 16%;
        width: 42%;       
    }    
    .content{
        padding-left: 58%;
    }

    /*  ==============================================================
        Componente Player
        ============================================================== */
    .Player{
        width: 16%;
    }

    /*  ==============================================================
        TRACKLIST
        ============================================================== */
    .tracklist{
        .item{
            .icon{
                font-size: 70px;
                line-height: 70px;
                margin-top: -35px;
                top: 50%;
            } 
        }
    }   
}

@media only screen and (min-width: 2200px) {
    .wrapper{
        width: 2200px;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hide {
    display: none;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}