/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/*  ==============================================================
    Variables LESS
    ============================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
body {
  font: 16px/26px 'Titillium Web', Arial, sans-serif;
}
/*  ==============================================================
    Resets generales
    ============================================================== */
h1,
h2,
h3,
h4,
p,
ul,
li,
blockquote {
  margin: 0;
  padding: 0;
}
h2 {
  line-height: 120%;
}
h3 {
  line-height: 120%;
}
h4 {
  line-height: 120%;
}
p {
  line-height: 120%;
}
ul {
  list-style: none;
}
a:link,
a:visited {
  text-decoration: none;
}
blockquote {
  font-style: italic;
}
.v-align-bottom {
  vertical-align: bottom !important;
}
.v-align-middle {
  vertical-align: middle !important;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
/*  ==============================================================
    Sidebar
    ============================================================== */
.sidebar {
  background: #d1d1d1;
}
header {
  padding: 10px;
  position: relative;
}
#logo {
  float: left;
}
#logo img {
  height: 51px;
}
.no-svg #logo a {
  background-image: url(../img/logo-beathey.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.mobile-nav {
  float: right;
  line-height: 51px;
}
.mobile-nav a:link,
.mobile-nav a:visited {
  color: #010002;
  font-size: 30px;
}
nav {
  display: none;
}
nav .icon {
  width: 20px;
  display: inline-block;
}
nav a:link,
nav a:visited {
  color: #010002;
  font-size: 15px;
}
nav a:hover .icon,
nav a:active .icon,
nav .active a:link .icon,
nav .active a:visited .icon {
  color: #010002;
}
nav a:hover,
nav a:active,
nav .active a:link,
nav .active a:visited {
  font-weight: 700;
}
nav a .icon {
  color: #686868;
}
.user-menu {
  display: none;
  border-top: 1px solid #f1f1f1;
}
.user-menu a:link,
.user-menu a:visited {
  color: #010002;
  font-size: 12px;
}
.user-menu ul {
  display: none;
}
/*  ==============================================================
    Estilos relacionados a la grilla
    ============================================================== */
.grid {
  width: 100%;
  display: table;
  padding: 0;
  margin: 0;
}
/*  ==============================================================
    Componente Player
    ============================================================== */
.Player {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 500;
}
.Player-header {
  border-top: 1px solid #d1d1d1;
  background: #fff;
}
.Player-Disc-image img {
  display: none;
}
.Player-Disc-text {
  vertical-align: top;
}
.Player-Disc-text div {
  padding: 8px;
}
.Player-Disc-text h3 {
  font-size: 14px;
  font-weight: 700;
}
.Player-Disc-text p {
  font-size: 12px;
  line-height: 110%;
}
.Player-controls {
  background: #a3a3a3;
}
.Player-controls ul {
  list-style: none;
  padding: 0 4px;
}
.Player-controls li {
  float: left;
}
.Player-controls a:link,
.Player-controls a:visited {
  display: block;
  padding: 0px 4px;
  color: #fff;
}
.Player-controls a:hover,
.Player-controls a:active {
  color: #010002;
}
.Player-controls .list {
  float: right;
}
/* ==========================================================================
   Comunes a toda la web
   ========================================================================== */
.btn-action:link,
.btn-action:visited {
  font-size: 20px;
  color: #fff;
  padding: 3px 16px 4px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.btn-action:hover,
.btn-action:active {
  border: 1px solid #fff;
}
.background-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* ==========================================================================
   HOME
   ========================================================================== */
.slide-home {
  background-image: url(../img/banner-top.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.slide-content {
  padding: 60px 20px;
  text-align: center;
}
.slide-content h2 {
  font-size: 24px;
  color: #fff;
}
.slide-content p {
  margin: 1em 0 0 0;
}
.home-logo {
  padding: 20px 0;
  text-align: center;
}
.home-logo img {
  width: 50%;
}
.no-svg .home-logo img {
  display: none;
}
.no-svg .home-logo {
  background: url(../img/logo-beathey-banner.png) no-repeat center center;
  width: 90%;
  height: 90%;
}
.news-item {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.news-item .title {
  display: block;
  padding: 60px 30px;
  background: rgba(0, 0, 0, 0.6);
}
.news-item a:link,
.news-item a:visited {
  color: #fff;
}
.news-item h2 {
  font-size: 18px;
  line-height: 120%;
}
.news-item h3 {
  font-size: 14px;
  line-height: 120%;
  font-weight: normal;
}
.news-item .text {
  display: block;
  padding: 0;
}
.news-item a:hover .text,
.news-item a:active .text {
  background: rgba(0, 0, 0, 0.6);
}
/* ==========================================================================
   MODULOS (comunes a todos los formatos)
   ========================================================================== */
.content-wrapper {
  padding-bottom: 100px;
}
.module-header {
  position: relative;
}
.module-header .close {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  font-size: 20px;
  padding: 10px 12px;
  line-height: 100%;
}
.module-header .share {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  padding: 10px 0 10px 30px;
  line-height: 20px;
}
.module-header .close a:link,
.module-header .close a:visited {
  color: #fff;
}
.module-header .close a:hover,
.module-header .close a:active {
  color: #000;
}
.module-header .share a:link,
.module-header .share a:visited {
  color: #000;
}
.module-body {
  padding: 0 0 120px 0;
}
.module-content {
  padding: 0 30px 0 30px;
}
.module-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.module-footer img {
  width: 100%;
}
/* ==========================================================================
   ARTISTA
   ========================================================================== */
.tracklist-item {
  font-size: 14px;
  border-bottom: 1px solid #c6c6c6;
  padding: 8px 0 0 0;
}
.tracklist-item a:link,
.tracklist-item a:visited {
  color: #000;
}
.tracklist-item i.fa-play-circle {
  font-size: 12px;
  color: #a3a3a3;
}
.tracklist-item-hover {
  background: #e5e5e5;
}
.tracklist-set-detail {
  display: none;
}
.tracklist-set-detail .tracklist-item {
  padding: 0 0 0 20px;
}
.tracklist-set-detail.active {
  display: block;
}
.tracklist-set {
  padding: 8px 0 0 10px;
  background-color: #e6e6e6;
  border-bottom: 1px solid #c6c6c6;
  font-weight: 700;
}
.tracklist-set a:link,
.tracklist-set a:visited {
  color: #000;
}
.artist-events .item {
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
}
.artist-events img {
  display: block;
  width: 100%;
  margin: 0 0 10px 0;
}
.artist-events h2 {
  font-size: 16px;
  line-height: 120%;
}
.artist-events p {
  font-size: 14px;
  line-height: 120%;
}
.artist-events p.date {
  font-size: 11px;
  line-height: 100%;
}
.artist-events a:link,
.artist-events a:visited {
  color: #010002;
}
.artist-events .share a {
  font-size: 12px;
}
.artist-info .info {
  padding-bottom: 60px;
  padding-right: 40px;
}
.artist-info h1 {
  padding-top: 30px;
  font-size: 38px;
  font-weight: 700;
}
.artist-info h2 {
  padding-bottom: 30px;
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
}
.artist-info .module-content-fluid img {
  width: 100%;
}
.artist-info p {
  line-height: 120%;
  font-size: 14px;
  margin: 0 0 1em 0;
}
.artist-info blockquote {
  line-height: 130%;
  font-size: 14px;
}
/* ==========================================================================
   LAYOUT Y GRILLA
   ========================================================================== */
.min-viewport-h {
  position: relative;
}
.module-columns .module-header,
.content .module-header {
  padding: 80px 30px 10px 30px;
}
.module-columns .module-menu,
.content .module-menu {
  border-bottom: 1px solid #c6c6c6;
  padding: 0 0 8px 0;
}
.module-columns .module-menu li,
.content .module-menu li {
  display: inline;
  font-size: 14px;
  padding: 0 8px 0 0;
}
.module-columns .module-menu a:link,
.content .module-menu a:link,
.module-columns .module-menu a:visited,
.content .module-menu a:visited {
  color: #ababab;
}
.module-columns .module-menu a:hover,
.content .module-menu a:hover,
.module-columns .module-menu a:active,
.content .module-menu a:active,
.module-columns .module-menu .active a:link,
.content .module-menu .active a:link,
.module-columns .module-menu .active a:visited,
.content .module-menu .active a:visited {
  color: #010002;
}
.module-full .module-header {
  padding: 30px;
}
.module-full .module-header h1 {
  font-size: 50px;
  font-weight: normal;
  line-height: 50px;
}
.module-full .module-header h1 span {
  color: #585858;
  font-weight: 700;
}
.module-full .module-menu {
  padding: 20px 0;
}
.module-full .module-menu li {
  display: inline;
}
.module-full .module-search {
  padding: 0 0 2px 0;
}
.module-full .comment {
  padding: 20px 0;
}
.module-full .comment .btn {
  padding: 6px 10px 7px 10px;
  font-weight: 700;
}
.module-full .comment i {
  color: #a3a3a3;
  font-size: 18px;
  margin-right: 5px;
}
/* ==========================================================================
   ELEMENTOS FORMULARIO
   ========================================================================== */
.form-control {
  font-family: 'Titillium Web', Arial, sans-serif;
  outline: none;
}
button.btn {
  color: #666666;
}
a.btn:link,
a.btn:visited,
a.btn-link:link,
a.btn-link:visited {
  display: inline-block;
  color: #010002;
  line-height: 16px;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  padding: 4px 10px 5px 10px;
  border-radius: 2px;
}
a.btn:hover,
a.btn:active,
a.btn-link:hover,
a.btn-link:active {
  border-color: #686868;
}
.form legend {
  line-height: 120%;
  font-size: 17px;
  text-align: center;
  margin: 0 0 20px 0;
  padding: 0;
}
.form .form-row {
  padding: 5px 0;
}
.form a:link,
.form a:visited {
  color: #ce5700;
}
.form button.btn,
.form a.btn:link,
.form a.btn:visited {
  padding: 6px 10px;
  border: none;
  border-radius: 0;
  background: #d1d1d1;
}
.form a.btn:hover,
.form a.btn:active {
  color: #ccc;
}
.form a.btn-blue:link,
.form a.btn-blue:visited {
  background: #3b5998;
  color: #fff;
}
.form button.btn-orange,
.form a.btn-orange:link,
.form a.btn-orange:visited {
  background: #ce5700;
  color: #fff;
}
.form label {
  color: #797979;
  line-height: 120%;
  font-size: 14px;
}
.form label em {
  color: #FF0109;
  font-style: normal;
}
.form .check-label .checkbox {
  width: 5%;
  float: left;
}
.form .check-label label {
  display: block;
  float: right;
  width: 95%;
}
.form-signup {
  padding: 0;
}
.form-signup a.btn-blue:link,
.form-signup a.btn-blue:visited {
  padding: 6px 40px;
  font-size: 16px;
  line-height: 140%;
  font-weight: 700;
}
.form-signup button.btn-orange,
.form-signup a.btn-oreange:link,
.form-signup a.btn-oreange:visited {
  padding: 10px 40px;
  font-size: 16px;
  line-height: 140%;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  box-sizing: border-box;
}
.form-signup p {
  color: #797979;
  font-size: 14px;
  line-height: 120%;
}
.form-signup .as-label {
  line-height: 120%;
  font-size: 14px;
  margin: 0;
  padding: 10px 0 0 10px;
}
.form-signup .form-group {
  padding-right: 10px;
}
.form-signup .form-control {
  border: 1px solid #dfe0e6;
  font-size: 14px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.form-signup .disclaimer {
  padding: 10px 0;
}
.module-search .form-group {
  padding-left: 4px;
  border: 1px solid #a8a8a8;
}
.module-search .form-control {
  border: none;
  font-size: 14px;
  line-height: 28px;
  padding: 2px;
  margin: 0;
  float: left;
}
.module-search .btn {
  float: right;
  border: none;
  line-height: 28px;
  font-size: 12px;
  padding: 2px 10px;
  border-left: 1px solid #a8a8a8;
  background-color: #e5e5e5;
}
form.calendar {
  padding: 20px 0;
}
form.calendar .calendar-icon {
  float: left;
}
form.calendar .input {
  display: inline-block;
  padding: 0 0 0 10px;
}
form.calendar .input .form-control {
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 5px 2px 6px 2px;
}
form.calendar .btn {
  border: none;
  line-height: 100%;
  font-size: 24px;
  padding: 4px 6px;
  background-color: #e5e5e5;
}
form.popup-form a:link,
form.popup-form a:visited {
  color: #666666;
}
form.popup-form .form-control {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding: 5px 4px 6px 4px;
  width: 100%;
  box-sizing: border-box;
}
form.popup-form .form-control-wrapper {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
form.popup-form .form-control-wrapper .form-control {
  border: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding: 5px 4px 6px 4px;
  width: 100%;
  box-sizing: border-box;
}
form.popup-form .form-control-wrapper .form-icon {
  position: absolute;
  top: 0;
  right: 4px;
}
/* ==========================================================================
   AGENDA / WALL / CONTEST
   ========================================================================== */
.events .item,
.wall .item {
  margin: 0 0 10px 0;
}
.events .item-center h2,
.wall .item-center h2 {
  text-align: center;
}
.events .item-center p,
.wall .item-center p {
  text-align: center;
}
.events .item-alt,
.wall .item-alt {
  background: #eeeeee;
}
.events .item .item-text,
.wall .item .item-text {
  padding: 0 30px;
}
.events .item-image img,
.wall .item-image img {
  width: 100%;
}
.events .item-image,
.wall .item-image {
  padding: 0 0 20px 0;
}
.events .item-text h2,
.wall .item-text h2 {
  font-size: 20px;
  line-height: 120%;
  padding: 0 0 5px 0;
}
.events .item-text p,
.wall .item-text p {
  line-height: 120%;
  font-size: 13px;
}
.events .item-text .share,
.wall .item-text .share {
  padding: 16px 0 8px 0;
  border-bottom: 1px solid #d1d1d1;
}
.events .item a:link,
.wall .item a:link,
.events .item a:visited,
.wall .item a:visited {
  color: #010002;
}
.events .item-alt .item-text .share,
.wall .item-alt .item-text .share {
  border-bottom: none;
}
.events .chart,
.wall .chart {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  position: relative;
}
.events .circle-info,
.wall .circle-info {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 40px;
  margin: -18px 0 0 -30px;
}
.events .circle-info span,
.wall .circle-info span {
  display: block;
  color: #7F7E83;
  text-align: center;
}
.events .circle-info .percent,
.wall .circle-info .percent {
  line-height: 24px;
  font-size: 20px;
}
.events .circle-info .icon,
.wall .circle-info .icon {
  line-height: 16px;
  font-size: 16px;
}
.wall-comments .item-header {
  padding: 10px 0;
}
.wall-comments .item-image {
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
  border: 4px solid #d1d1d1;
}
.contest .item-header {
  padding-top: 10px;
}
.contest .item-image {
  margin: 0 auto;
  width: 80px;
}
/* ==========================================================================
   TRACKLIST
   ========================================================================== */
.tracklist .item {
  position: relative;
  width: 50%;
  float: left;
}
.tracklist .item img {
  display: block;
  width: 100%;
}
.tracklist .item .icon {
  display: block;
  text-align: center;
  position: absolute;
  left: 0;
  width: 100%;
  font-size: 50px;
  line-height: 50px;
  margin-top: -25px;
  top: 50%;
}
.tracklist .item a:link,
.tracklist .item a:visited {
  color: #fff;
}
.tracklist .item a:link .item-text,
.tracklist .item a:visited .item-text {
  display: none;
}
.tracklist .item a:hover .item-text,
.tracklist .item a:active .item-text {
  display: block;
}
.tracklist .item .item-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}
.tracklist .item h2 {
  font-size: 14px;
}
.tracklist .item h3 {
  font-size: 13px;
  font-weight: normal;
}
.tracklist .item p {
  font-size: 12px;
  line-height: 120%;
}
.tracklist .item .item-text-content {
  position: relative;
  width: 100%;
  height: 100%;
}
.tracklist .item .item-text-detail {
  position: absolute;
  left: 12px;
  bottom: 12px;
}
/* ==========================================================================
   MODAL
   ========================================================================== */
.blocker {
  z-index: 1000;
}
.modal {
  width: 80%;
  padding: 30px;
  z-index: 1002;
  border-radius: 20px;
}
.modal-header {
  padding: 0 0 16px 0;
  text-align: center;
}
.separator {
  position: relative;
}
.separator hr {
  padding: 5px 0 0 0;
  border: none;
  border-top: 1px solid #dfe0e6;
  margin: 16px 0;
}
.separator span {
  display: block;
  position: absolute;
  width: 30px;
  top: 0;
  left: 50%;
  margin-left: -17px;
  margin-top: -7px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  padding: 0 4px;
  background: #fff;
  text-align: center;
}
.modal-comments h1 {
  font-size: 18px;
  color: #a3a3a3;
}
.modal-comments h1 i {
  maring-right: 5px;
}
.modal-comments .logo {
  text-align: right;
}
.modal-comments .logo img {
  width: 100px;
}
.modal-comments .form-control {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  font-size: 12px;
}
.modal-comments .form-row {
  padding: 20px 0 0 0;
}
.modal-comments .form-footer .disclaimer {
  font-size: 12px;
  color: #a3a3a3;
  float: left;
  line-height: 100%;
}
.modal-comments .form-footer button {
  float: right;
}
.modal-comments .btn {
  font-size: 14px;
  line-height: 16px;
  padding: 0 8px;
}
.modal-share h1 {
  font-size: 18px;
  color: #a3a3a3;
  font-weight: normal;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #dfe0e6;
  margin: 0 0 20px 0;
}
.modal-share h2 {
  font-size: 18px;
  font-weight: normal;
}
.modal-share p {
  font-size: 16px;
  margin: 0 0 10px 0;
  color: #BBBBBB;
}
.modal-share .form-control {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  font-size: 12px;
}
.modal-share .form-row {
  padding: 20px 0 0 0;
}
.modal-share .form-footer {
  padding: 20px 0 0 0;
}
.modal-share .form-footer .social {
  float: left;
}
.modal-share .form-footer .social h3 {
  font-size: 12px;
  color: #a3a3a3;
  line-height: 100%;
  font-weight: normal;
}
.modal-share .form-footer .social li {
  display: inline;
}
.modal-share .form-footer .social .fb a {
  font-size: 24px;
  color: #23589A;
}
.modal-share .form-footer .social .tw a {
  font-size: 24px;
  color: #01ACE6;
}
.modal-share .form-footer button {
  float: right;
}
.modal-share .share-content .col-sm-30 img {
  width: 90%;
}
.modal-share .share-content a.btn:link,
.modal-share .share-content a.btn:visited {
  color: #333;
  border: 1px solid #a3a3a3;
  font-size: 13px;
  font-weight: 700;
  padding: 4px 10px;
  background: #dfe0e6;
  border-radius: 5px;
}
/* ==========================================================================
   New Release
   ========================================================================== */
.item-list a:link,
.item-list a:visited {
  color: #010002;
}
.item-list .item {
  border-bottom: 1px solid #c6c6c6;
}
.item-list .item-hover {
  background: #ebebeb;
}
.item-list .item-image {
  padding: 0 10px 0 0;
}
.item-list .item-text {
  padding-bottom: 8px;
}
.item-list h2 {
  font-size: 18px;
}
.item-list h3 {
  font-size: 16px;
  font-weight: normal;
}
.item-list p {
  font-size: 14px;
}
.item-list .item-actions {
  font-size: 14px;
  padding: 0 10px 8px 0;
}
/*  ==============================================================
    NOTICIAS
    ============================================================== */
.news a:link,
.news a:visited {
  color: #010002;
}
.news .item-alt,
.news .item-hover {
  background: #ebebeb;
}
.news .item-image img {
  width: 100%;
}
.news .item-header {
  padding: 0 0 20px 0;
}
.news .item-text {
  padding: 20px 30px 30px 30px;
}
.news h2 {
  font-size: 18px;
}
.news h3 {
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
}
.news p {
  font-size: 14px;
  margin: 0 0 10px 0;
}
.news p.read-more a:link,
.news p.read-more a:visited {
  display: block;
  float: left;
  padding: 4px 8px;
  background: #6e6e6e;
  color: #fff;
}
.news-detail {
  background-color: #e9e9e9;
}
.news-detail h1 {
  font-size: 34px;
  font-weight: normal;
}
.news-detail h2 {
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
}
.news-detail p {
  font-size: 14px;
  margin: 0 0 10px 0;
}
.news-detail blockquote {
  font-size: 14px;
  font-style: italic;
  margin: 0 0 10px 0;
  line-height: 120%;
}
.news-detail .news-header {
  padding: 0 0 30px 0;
}
/* ==========================================================================
   Shop Detail
   ========================================================================== */
.product-images {
  background: #eeeeee;
  padding: 10px 30px;
}
.product-images .image-main {
  padding: 30px 0;
  text-align: center;
}
.product-images .image-main img {
  max-width: 100%;
}
.product-images .image-row {
  padding: 0 0 10px 0;
}
.product-images .image-row img {
  max-width: 100%;
}
.product-images .image-row a:link,
.product-images .image-row a:visited {
  padding: 10px;
  display: block;
}
.product .module-content h1 {
  font-weight: normal;
}
.product .module-content h2 {
  font-style: italic;
  padding: 0 0 20px 0;
  font-weight: normal;
}
.product .module-content p.price {
  font-size: 26px;
  padding: 0 0 10px 0;
}
.product .module-content a.btn:link,
.product .module-content a.btn:visited {
  border: none;
  font-weight: 700;
  background: #e6e6e6;
}
.product .module-content a.btn:hover,
.product .module-content a.btn:active {
  border: none;
  background: #e6e6e6;
}
.product .tabs {
  padding: 20px 0 10px 0;
}
/* ==========================================================================
   Navegación por TABs
   ========================================================================== */
.tabs .tabs-menu {
  padding: 0  0 10px 0;
}
.tabs .tabs-menu ul {
  padding: 0  0 10px 0;
  border-bottom: 1px solid #dfe0e6;
}
.tabs .tabs-menu li {
  display: inline;
  padding: 0 16px 0 0;
  font-size: 14px;
}
.tabs .tabs-menu a:link,
.tabs .tabs-menu a:visited {
  color: #797979;
}
.tabs .tabs-menu a.active:link,
.tabs .tabs-menu a.active:visited {
  color: #010002;
}
.tabs .tab.active {
  display: block;
}
.tab {
  display: none;
}
.tab h3 {
  font-size: 16px;
  font-weight: 700;
}
.tab p {
  font-size: 14px;
  margin: 0 0 16px 0;
}
/* ==========================================================================
   Shop
   ========================================================================== */
.shop .item {
  float: left;
}
.shop .item img {
  width: 100%;
  display: block;
}
.shop .item-40 {
  width: 50%;
  overflow: hidden;
}
.shop .item-20 {
  width: 50%;
  overflow: hidden;
}
/* ==========================================================================
   Resultados playlist
   ========================================================================== */
.popup-search-form {
  margin: 20px 0 10px 0;
}
.popup-add-form {
  margin: 20px 0 10px 0;
}
.popup-add-form label {
  font-size: 12px;
}
.popup-add-form button.btn-orange {
  padding: 0 6px;
  font-size: 14px;
  font-weight: 700;
}
.playlist-results h2 {
  color: #010002;
  font-size: 14px;
  font-weight: 700;
  padding: 6px 0;
  border-bottom: 1px solid #CDCDCD;
  margin-bottom: 6px;
}
.playlist-results a:link,
.playlist-results a:visited {
  color: #666666;
}
.playlist-results .playlist-results-icon {
  padding: 0 4px 0 0;
}
.playlist-results .playlist-results-icon img {
  width: 100%;
}
.playlist-results .playlist-results-content {
  padding: 0 0 0 4px;
}
.playlist-results .grid {
  margin: 0 0 5px 0;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /*  ==============================================================
        Componente Player
        ============================================================== */
  /* ==========================================================================
       LAYOUT Y GRILLA
       ========================================================================== */
  .grid .col-sm-10 {
    display: table-cell;
    width: 10%;
    vertical-align: top;
  }
  .grid .col-sm-20 {
    display: table-cell;
    width: 20%;
    vertical-align: top;
  }
  .grid .col-sm-30 {
    display: table-cell;
    width: 33%;
    vertical-align: top;
  }
  .grid .col-sm-33 {
    display: table-cell;
    width: 33.33%;
    vertical-align: top;
  }
  .grid .col-sm-50 {
    display: table-cell;
    width: 50%;
    vertical-align: top;
  }
  .grid .col-sm-60 {
    display: table-cell;
    width: 60%;
    vertical-align: top;
  }
  .grid .col-sm-70 {
    display: table-cell;
    width: 70%;
    vertical-align: top;
  }
  .grid .col-sm-80 {
    display: table-cell;
    width: 80%;
    vertical-align: top;
  }
  .grid .col-sm-90 {
    display: table-cell;
    width: 90%;
    vertical-align: top;
  }
  /*  ==============================================================
        AGENDA
        ============================================================== */
  .events .item,
  .wall .item {
    width: 50%;
    float: left;
  }
}
/*  ==============================================================
    USUARIO LOGUEADO
    ============================================================== */
.simple-tab-menu {
  border-bottom: 1px solid #CDCDCD;
}
.simple-tab-menu li {
  display: inline;
  padding: 0 8px 0 0;
  line-height: 40px;
  font-size: 18px;
}
.simple-tab-menu a:link,
.simple-tab-menu a:visited {
  color: #919191;
}
.simple-tab-menu a:active,
.simple-tab-menu a:hover {
  color: #010002;
}
.simple-tab-menu li.active a:link,
.simple-tab-menu li.active a:hover {
  color: #010002;
  font-weight: 700;
}
.user-full .user-content {
  padding: 20px;
}
.user-full .user-sidebar h2 {
  font-size: 12px;
  font-weight: normal;
  color: #919191;
  border-bottom: 1px solid #CDCDCD;
  padding: 0 0 8px 0;
}
.user-full .user-header {
  display: block;
  position: relative;
  height: 100px;
}
.user-full .user-header .btn:link,
.user-full .user-header .btn:visited {
  background-color: rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  width: 128px;
  border-radius: 0;
  border: none;
  font-size: 12px;
  text-align: center;
}
.user-full .user-header .btn-header:link,
.user-full .user-header .btn-header:visited {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.user-full .user-info {
  position: absolute;
  left: 20px;
  bottom: -30px;
}
.user-full .user-info-content {
  position: relative;
}
.user-full .user-info-content .btn:link,
.user-full .user-info-content .btn:visited {
  position: absolute;
  top: -8px;
  left: 16px;
}
.user-full .user-info-content h1 {
  position: absolute;
  left: 176px;
  top: 70px;
  color: #fff;
  font-size: 28px;
  line-height: 30px;
  padding: 0 4px;
  background: rgba(0, 0, 0, 0.3);
}
.user-full .profile-image {
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 50%;
}
.user-full .profile-image img {
  width: 100%;
}
.user-full .user-stats {
  margin-bottom: 30px;
}
.user-full .user-stats .stats-titles {
  line-height: 40px;
  font-size: 14px;
  color: #919191;
  border-bottom: 1px solid #CDCDCD;
}
.user-full .user-stats .stats-values {
  font-size: 20px;
  color: #919191;
  line-height: 30px;
}
.user-full .highlighted .highlighted-item {
  padding: 12px 0 0 0;
  border-bottom: 1px solid #CDCDCD;
}
.user-full .highlighted img {
  width: 90%;
}
.user-full .highlighted-text h4 {
  font-size: 14px;
  color: #636363;
  font-weight: normal;
}
.user-full .highlighted-text h3 {
  font-size: 15px;
  font-weight: 700;
  color: #636363;
}
.user-full .highlighted-text .tags {
  font-size: 14px;
  font-weight: normal;
  color: #636363;
}
.user-full .user-album {
  padding: 20px 0 10px 0;
}
.user-full .user-album-image img {
  width: 90%;
}
.user-full .user-album-content .play {
  font-size: 36px;
  color: #919191;
}
.user-full .user-album-content .album-actions {
  padding: 28px 0 0 0;
}
.user-full .user-album-content .album-actions li {
  display: inline-block;
  padding-right: 2px;
}
.user-full .user-album-content .btn:link,
.user-full .user-album-content .btn:visited {
  font-size: 12px;
  padding: 1px 4px;
}
.user-full .user-album-content .album-time {
  font-size: 14px;
}
.user-full .album-info {
  padding: 40px 0 10px 0;
}
.user-full .album-info h3 {
  font-size: 14px;
  color: #919191;
  font-weight: normal;
}
.user-full .album-info h2 {
  font-size: 16px;
  font-weight: 700;
  color: #636363;
}
.user-full .progress-bar {
  background: #B7B7B7;
}
.user-full .progress-bar .progress {
  height: 16px;
  background: #969696;
}
.user-full .user-tracklist {
  margin-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #CDCDCD;
}
.user-full .user-tracklist-item {
  border-bottom: 1px solid #CDCDCD;
}
.user-full .tracklist-icon {
  float: left;
  width: 22px;
  padding: 2px 4px;
  background: #B3B3B3;
  text-align: center;
}
.user-full .tracklist-icon i {
  font-size: 24px;
  line-height: 26px;
  color: #C5C5C5;
}
.user-full .tracklist-content {
  float: left;
  padding: 0 0 0 8px;
  line-height: 28px;
}
.user-full .tracklist-content a:link,
.user-full .tracklist-content a:visited {
  font-size: 14px;
  color: #010101;
  font-weight: 700;
}
.user-full .user-all-stats {
  padding: 18px 0;
  border-bottom: 1px solid #CDCDCD;
}
.user-full .user-all-stats h3 a:link,
.user-full .user-all-stats p a:link,
.user-full .user-all-stats h3 a:visited,
.user-full .user-all-stats p a:visited {
  color: #919191;
  font-size: 18px;
  font-weight: normal;
  line-height: 130%;
}
.user-full .user-all-stats .active h3 a:link,
.user-full .user-all-stats .active p a:link,
.user-full .user-all-stats .active h3 a:visited,
.user-full .user-all-stats .active p a:visited {
  color: #010002;
}
.user-full .profile-comments-item {
  padding: 18px 0 10px 0;
  border-bottom: 1px solid #CDCDCD;
}
.user-full .profile-comments-item p {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 4px;
}
.user-full .profile-comments-item p.author {
  font-style: normal;
  margin-bottom: 0px;
  font-weight: 700;
}
.user-full .profile-comments-item p.date {
  font-style: normal;
  margin-bottom: 0px;
}
.modal-upload .modal-header {
  text-align: left;
}
.modal-upload .modal-header h2 {
  font-size: 20px;
  text-align: right;
  padding-right: 20px;
  line-height: 50px;
  text-transform: uppercase;
}
.modal-upload .form-upload-step1 {
  text-align: center;
  padding: 0 0 20px 0;
}
.modal-upload .form-upload-step1 .btn-orange {
  background: #EC5600;
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
}
.modal-upload .form-upload-step1 .form-row {
  margin-top: 10px;
  margin-bottom: 20px;
}
.modal-upload .form-upload-step2 .form-row {
  padding: 0;
}
.modal-upload .form-upload-step2 label {
  font-size: 12px;
  line-height: 110%;
}
.modal-upload .form-upload-step2 .btn-orange {
  background: #EC5600;
  font-weight: 700;
}
.modal-upload .form-upload-step2 .form-row-comments {
  padding-top: 18px;
}
.modal-upload .form-upload-step2 .form-control::placeholder {
  font-size: 12px;
  font-style: italic;
}
.modal-upload .upload-disclaimer p {
  color: #010002;
  font-size: 12px;
  text-align: center;
  line-height: 110%;
  margin: 0 0 10px 0;
}
.modal-upload .chart {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  position: relative;
}
.modal-upload .circle-info {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 40px;
  margin: -18px 0 0 -30px;
}
.modal-upload .circle-info span {
  display: block;
  color: #7F7E83;
  text-align: center;
}
.modal-upload .circle-info .percent {
  line-height: 36px;
  font-size: 22px;
}
.modal-upload .circle-info .icon {
  line-height: 16px;
  font-size: 16px;
}
.modal-upload .upload-form-footer {
  padding: 0 0 20px 0;
}
.modal-upload .upload-form-footer p {
  font-size: 14px;
  line-height: 24px;
}
.modal-upload .upload-form-footer .fa-facebook-square,
.modal-upload .upload-form-footer .fa-twitter-square,
.modal-upload .upload-form-footer .fa-tumblr-square {
  font-size: 22px;
  line-height: 24px;
}
.modal-upload .upload-image {
  width: 180px;
  height: 180px;
  overflow: hidden;
  position: relative;
}
.modal-upload .upload-image a:link,
.modal-upload .upload-image a:visited {
  background: #fff;
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  left: 20px;
  width: 140px;
  box-sizing: border-box;
}
.fa-facebook-square {
  color: #445E99;
}
.fa-twitter-square {
  color: #23C1FF;
}
.fa-tumblr-square {
  color: #1D3E5F;
}
.modal-profile .modal-header h2 {
  text-align: left;
  line-height: 30px;
}
.modal-profile .modal-header img {
  width: 80%;
}
.modal-profile .profile-image {
  width: 220px;
  height: 220px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}
.modal-profile .profile-image img {
  width: 100%;
}
.modal-profile .profile-image a:link,
.modal-profile .profile-image a:visited {
  background: #fff;
  font-size: 12px;
  position: absolute;
  bottom: 30px;
  left: 40px;
  width: 140px;
  box-sizing: border-box;
}
.modal-profile .description {
  padding: 10px 0;
}
.modal-profile .description p {
  font-size: 14px;
  font-style: italic;
  color: #636363;
}
.modal-profile .profile-link-item {
  border-top: 1px solid #CDCDCD;
  padding: 10px 0 5px 0;
}
.modal-profile label {
  font-size: 12px;
}
.modal-profile .form-row {
  padding: 0;
}
.profile-form-footer {
  border-top: 1px solid #CDCDCD;
  margin: 10px 0 0 0;
  padding: 10px 0;
  text-align: right;
}
.profile-form-footer button.btn {
  padding: 2px 8px;
  background-color: #fff;
  color: #919191;
  font-size: 14px;
}
.profile-form-footer button.btn-orange {
  margin-left: 4px;
  background-color: #EC5600;
  font-weight: 700;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  /*  ==============================================================
        Sidebar
        ============================================================== */
  header {
    padding: 60px 25px 0 25px;
  }
  #logo {
    float: none;
  }
  #logo img {
    width: 100%;
    height: auto;
  }
  .user-menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-top: none;
  }
  .user-menu div {
    padding: 20px 25px 0 25px;
  }
  .user-menu ul {
    padding: 0 25px 0 25px;
    background: rgba(255, 255, 255, 0.9);
  }
  .mobile-nav {
    display: none;
  }
  nav {
    display: block;
    padding-top: 26px;
  }
  .user-menu {
    display: block;
  }
  /*  ==============================================================
        Componente Player
        ============================================================== */
  .Player {
    width: 26%;
  }
  .Player-Disc-image img {
    display: block;
    width: 100%;
  }
  /*  ==============================================================
        LAYOUT Y GRILLA
        ============================================================== */
  .sidebar {
    position: fixed;
    width: 26%;
    height: 100%;
  }
  .content-wrapper {
    padding-left: 26%;
    padding-bottom: 0;
  }
  .content-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 26%;
    width: 37%;
    height: 100%;
  }
  .content {
    padding-left: 63%;
  }
  .module-full .module-header {
    display: table;
    min-height: 84px;
  }
  .module-full .module-title {
    display: table-cell;
    vertical-align: bottom;
  }
  .module-full .module-menu {
    display: table-cell;
    vertical-align: bottom;
    padding: 0 20px 2px 20px;
  }
  .module-full .module-search {
    display: table-cell;
    vertical-align: bottom;
    padding: 0 0 2px 0;
  }
  .module-full .module-form {
    display: table-cell;
    vertical-align: bottom;
    padding: 0 0 2px 0;
  }
  .module-full .comment {
    padding: 0 0 2px 20px;
  }
  .module-search {
    width: 150px;
  }
  .module-search .form-control {
    width: 100px;
  }
  .module-content {
    padding: 0 30px 0 30px;
  }
  form.calendar {
    padding: 0 0 0 20px;
  }
  .grid .col-md-10 {
    display: table-cell;
    width: 10%;
    vertical-align: top;
  }
  .grid .col-md-20 {
    display: table-cell;
    width: 20%;
    vertical-align: top;
  }
  .grid .col-md-30 {
    display: table-cell;
    width: 30%;
    vertical-align: top;
  }
  .grid .col-md-33 {
    display: table-cell;
    width: 33.33%;
    vertical-align: top;
  }
  .grid .col-md-40 {
    display: table-cell;
    width: 40%;
    vertical-align: top;
  }
  .grid .col-md-50 {
    display: table-cell;
    width: 50%;
    vertical-align: top;
  }
  .grid .col-md-60 {
    display: table-cell;
    width: 60%;
    vertical-align: top;
  }
  .grid .col-md-66 {
    display: table-cell;
    width: 66.66%;
    vertical-align: top;
  }
  .grid .col-md-70 {
    display: table-cell;
    width: 70%;
    vertical-align: top;
  }
  .grid .col-md-80 {
    display: table-cell;
    width: 80%;
    vertical-align: top;
  }
  .grid .col-md-90 {
    display: table-cell;
    width: 90%;
    vertical-align: top;
  }
  /*  ==============================================================
        HOME
        ============================================================== */
  .slide-content {
    padding: 120px 20px 100px 20px;
  }
  .slide-content h2 {
    font-size: 32px;
  }
  .news-item .title {
    padding: 20px 30px;
  }
  .news-item .text {
    padding: 180px 0 60px 0;
  }
  .home-logo {
    padding: 140px 0 0 0;
    text-align: center;
  }
  .home-logo img {
    width: 80%;
  }
  /* ==========================================================================
       MODAL
       ========================================================================== */
  .blocker {
    z-index: 1000;
  }
  .modal {
    width: 550px;
  }
  .modal-comments {
    width: 400px !important;
  }
  .modal-profile {
    width: 800px;
  }
  .share-content .col-sm-80 {
    position: relative;
  }
  .share-content a.btn:link,
  .share-content a.btn:visited {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  /* ==========================================================================
       ELEMENTOS FORMULARIO
       ========================================================================== */
  .form-signup {
    padding: 0 30px;
  }
  /*  ==============================================================
        AGENDA
        ============================================================== */
  .events .item,
  .wall .item {
    width: 25%;
  }
  /*  ==============================================================
        TRACKLIST
        ============================================================== */
  .tracklist .item {
    width: 25%;
  }
  .tracklist .item .icon {
    font-size: 60px;
    line-height: 60px;
    margin-top: -30px;
    top: 50%;
  }
  /* ==========================================================================
       Shop
       ========================================================================== */
  .shop .item-40 {
    width: 40%;
  }
  .shop .item-20 {
    width: 20%;
  }
  /*  ==============================================================
        USUARIO LOGUEADO
        ============================================================== */
  .user-full .user-content {
    padding-top: 40px;
  }
  .user-full .user-header {
    display: block;
  }
  .user-full .user-header .btn:link,
  .user-full .user-header .btn:visited {
    background: #fff;
  }
}
@media only screen and (min-width: 960px) {
  /*  ==============================================================
        Componente Player
        ============================================================== */
  .Player {
    width: 20%;
  }
  /*  ==============================================================
        LAYOUT Y GRILLA
        ============================================================== */
  .sidebar {
    width: 20%;
  }
  .content-wrapper {
    padding-left: 20%;
    padding-bottom: 0;
  }
  .content-sidebar {
    margin-left: 20%;
    width: 40%;
  }
  .content {
    padding-left: 60%;
  }
  .module-search {
    width: 320px;
  }
  .module-search .form-control {
    width: 270px;
  }
  .grid .col-lg-10 {
    display: table-cell;
    width: 10%;
    vertical-align: top;
  }
  .grid .col-lg-20 {
    display: table-cell;
    width: 20%;
    vertical-align: top;
  }
  .grid .col-lg-80 {
    display: table-cell;
    width: 80%;
    vertical-align: top;
  }
  .grid .col-lg-90 {
    display: table-cell;
    width: 90%;
    vertical-align: top;
  }
  /*  ==============================================================
        HOME
        ============================================================== */
  .home-logo {
    padding: 120px 0 0 0;
  }
  .home-logo img {
    width: 70%;
  }
  /*  ==============================================================
        AGENDA
        ============================================================== */
  .events .item,
  .wall .item {
    width: 20%;
  }
  /*  ==============================================================
        TRACKLIST
        ============================================================== */
  .tracklist .item {
    width: 16.66666667%;
  }
  /*  ==============================================================
        NOTICIAS
        ============================================================== */
  .news .item {
    float: left;
    width: 33.333333%;
  }
  /*  ==============================================================
        USUARIO LOGUEADO
        ============================================================== */
  .user-full .user-header {
    height: auto;
  }
  .user-full .user-info {
    left: 60px;
  }
  .user-full .user-content {
    padding: 20px 0 0 0;
  }
  .user-full .user-main-content {
    padding: 0 0 0 100px;
  }
  .user-full .user-main {
    width: 60%;
    float: left;
  }
  .user-full .user-sidebar {
    width: 36%;
    float: right;
  }
  .user-full .user-sidebar-content {
    padding-right: 20%;
  }
}
@media only screen and (min-width: 1140px) {
  /*  ==============================================================
        LAYOUT Y GRILLA
        ============================================================== */
  .sidebar {
    width: 16%;
  }
  .content-wrapper {
    padding-left: 16%;
    padding-bottom: 0;
  }
  .content-sidebar {
    margin-left: 16%;
    width: 42%;
  }
  .content {
    padding-left: 58%;
  }
  /*  ==============================================================
        Componente Player
        ============================================================== */
  .Player {
    width: 16%;
  }
  /*  ==============================================================
        TRACKLIST
        ============================================================== */
  .tracklist .item .icon {
    font-size: 70px;
    line-height: 70px;
    margin-top: -35px;
    top: 50%;
  }
}
@media only screen and (min-width: 2200px) {
  .wrapper {
    width: 2200px;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.hide {
  display: none;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*# sourceMappingURL=main.css.map */